/* TODO Add site wide styles */

* {
  --navbarheight: 51px;
  --bannerheight: 60px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "deviantBold";
  src: local("devious"), url(./fonts/DeviousSansBold.ttf) format("woff");
}

@font-face {
  font-family: "deviantReg";
  src: local("devious"), url(./fonts/DeviousSansRegular.ttf) format("woff");
}

.page {
  padding-top: calc(var(--navbarheight) + var(--bannerheight));
}

.hidden {
  display: none;
}

#root {
  /* background-color: black; */
  outline: none;
}

html,
body,
#root {
  height: 100%;
}
