/* TODO Add site wide styles */

* {
  @import "react-alice-carousel/lib/alice-carousel.css";
  --navbarheight: 51px;
  --bannerheight: 60px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "deviantBold";
  src: local("devious"), url(./fonts/DeviousSansBold.ttf) format("woff");
}

@font-face {
  font-family: "deviantReg";
  src: local("devious"), url(./fonts/DeviousSansRegular.ttf) format("woff");
}

.page {
  padding-top: calc(var(--navbarheight) + var(--bannerheight));
}

::selection {
  background-color: #00e59b;
}

.hidden {
  display: none;
}

#root {
  background-color: #06070d;
  outline: none;
  color: #f2f2f2;
}

html,
body,
#root {
  height: 100%;
  background-color: #06070d;
}
