/* TODO Add site wide styles */

@font-face {
    font-family: "deviantBold";
    src: local('devious'), url(./fonts/DeviousSansBold.ttf) format('woff');

}


@font-face {
  font-family: "deviantReg";
  src: local('devious'), url(./fonts/DeviousSansRegular.ttf) format('woff');

}


.hidden {
    display: none;
}

  .modal-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    position: fixed;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    outline: none;
  }

#root  {
  box-sizing: border-box;
  outline: none;
}
