.page {
  font-family: "deviantBold";
}

.deviation-container {
  display: flex;
  justify-content: center;
}

.deviation-tile {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vw;
  width: 100%;
}

.post-container {
  /* border: 1px solid red; */
  margin-left: 48px;
}

.post-container > div {
  margin-top: 24px;
}

.fav-comments {
  display: flex;
}

.favorites-container {
  margin-right: 32px;
}

:is(.favorites-container, .collective-likes):hover {
  color: #00e59b;
}
.artist-title {
  display: flex;
}

.artist-title > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pfp {
  height: 64px;
  width: 56px;
  margin-right: 16px;
}
.collective-container {
  display: flex;
}
:is(.collective-container, .fav-comments) > div {
  display: flex;
}

:is(.collective-container, .fav-comments) > div :first-child {
  margin-right: 4px;
}

.collective-likes {
  margin-right: 16px;
}

.crud-form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crud-form {
  width: 288px;
}

.delete-button {
  margin-right: 16px !important;
}
.edit-form-button {
  background-color: #04aa6d;
  color: white;
  opacity: 0.5;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  padding: 4px 8px;
  margin: 8px;
}

.edit-form-button:hover {
  opacity: 1;
}
