.navbar-container {
    background-color:#06070d;
    position: fixed;
    z-index: 1;
    width: 100vw;
    left:0;
    top:0;
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: var(--navbarheight);
    box-shadow:rgba(0, 0, 0, .5) 0px 2px 4px;
}

.home-shell {
    position: fixed;
    top: 51px;
    background-color: rgba(28,32,35, .98 ) ;
    width: 100vw;
    left: 0;
    display: flex;
    align-content: center;
    height: var(--bannerheight);
    z-index: 1;
}

.left-side {
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: space-between;
    height: 100%;
}

.banner {
    display: flex;
    align-content: center;
    height: -moz-fit-content;
    height: fit-content;
    align-self: center;
    font-size: 25px;
    color: #f2f2f2;
    font-weight: bold;
    margin-left: 10%;
    font-family: 'deviantBold';
}

.banner-deviations {
    display: flex;
    align-content: center;
    height: -moz-fit-content;
    height: fit-content;
    align-self: center;
    font-size: 18px;
    color: #e4e5e5;
    font-family: 'deviantReg';

}

.right-side {
    width: 50%;
    margin-left: 5%;
    height: 100%;
    display: flex;
    align-items: center;
}

#search-button {

    width: 300px;
    font-size: 13px;
    font-family: 'deviantReg';
    display: flex;
    color: #b1b1b9;
    justify-content: center;
    align-items: center;
}

#search-button:hover {
    color: #e4e5e5;
}

.search-text {
    font-size: 14px;
    margin-left: 10px;
}

.banner-posts {
    display: flex;
    align-content: center;
    height: -moz-fit-content;
    height: fit-content;
    align-self: center;
    font-size: 18px;
    color: #e4e5e5;
    font-family: 'deviantReg';
}

.navbar-button {
    font-size: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    text-align: center;
    align-self: center;

}

.navbar-button > a {
    color: #01aa75;
    text-decoration: none;
}
.navbar-button:hover {
    color: white;

}

#home-button {
    margin-left: 2.5%;
}

#logout-button {
    background-color: #33363d;
    color: #b1b1b9;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

#submit-button {
    margin-right: 2.5%;
    color: #01aa75;
    font-family: 'deviantBold';
    text-decoration: none;
    font-size: 15px;
    border-left: 2px solid grey;
    outline-offset: 20px;
    padding-left: 50px;
}
#logout-button:hover {
    color: #01aa75;
    border-bottom: 4px solid #01aa75;

}

.logo-image {
    height: 100%;
}

.navbar-left {
    display:flex;
    height: 100%;
    align-items: center;
    width: 500px;

}


.navbar-right {
    display:flex;
    height: 100%;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    padding-right: 2.5%;

}
